@tailwind base;
@tailwind components;

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/Roboto-Regular.woff2") format("woff2"),
    url("/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/Roboto-Bold.woff2") format("woff2"),
    url("/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/Poppins-Regular.woff2") format("woff2"),
    url("/fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/Poppins-Bold.woff2") format("woff2"),
    url("/fonts/Poppins-Bold.ttf") format("truetype");
}

@tailwind utilities;

@layer components {
  .headerBlockHeight {
    height: clamp(200px, 35vh, 300px);
  }

  @media (min-width: 768px) {
    .headerBlockHeight {
      height: clamp(300px, 40vh, 500px);
    }
  }

  .richtext li > p {
    margin: 0;
  }
}
